:root {
    background-color: #f5e7de;

    --palette-blu-a: #395c79;
    background-color: #5b7a8c;
    background-color: #768a88;
    background-color: #6b6a65;
    background-color: #34302d;
    background-color: #ef9849;
    background-color: #f6b98a;

    background-color: #9d312f;
    background-color: #bd3b3b;
    background-color: #913a1e;
    background-color: #462d26;
    background-color: #6a4535;
    background-color: #f08149;
    background-color: #f5ad87;



    background-color: #ebe6d6;

    
    background-color: #f3f3f3;


    background-color: #c1a18a;
    background-color: #dabdab;

    
}

