<div class="item-container">
    <div class="container-side"></div>
    <div id='item-boxes-container' class="item-boxes-container">

        <!--Load in selected items here -->

    </div>
    <div class="container-side rotate-180"></div>

</div>
<div class="video-floating-frame" id="video-floating-frame" style="display:none;">
    <div class="iframe-container">
        <div id="iframe-holder"></div>
    </div>
    <div class="caption-container">
    <div class="left-container">
    <div class="top-container">
        <div class="chapter-container" id="chapter-container"></div>

        
    </div>

    <div class="bottom-container">
        <div class="logo-container">
            <div id="ff-logo" class="item-box-logo ff-logo"><a id="ff-logo-link" href=""><img id="ff-logo-img"
                        class="item-box-logo" src=""></img></a></div>
        </div>
        <div class="title-container">


            <div id="ff-creator" class="item-box-creator">Creator</div>
            <div id="ff-title" class="item-box-title">Title is Ipsum Lorum</div><br><br><br>
        </div>
    </div>
    </div>
    <div class="right-container">
        <div class="views-container">
            <div id="ff-views" class="item-box-views">Title is Ipsum Lorum</div><span class="item-box-views"> •
            </span>
            <div id="ff-age" class="item-box-views">Title is Ipsum Lorum</div>
        </div>
        <div class="frag-container"><span class="frag-button" data-frag="up"> + </span> <span class="frag-total">0</span> Frags <span class="frag-button" data-frag="down"> - </span></div>
    </div>
</div>
</div>