<div class="item-container"> 
    <div class="container-side"></div>
<div id='item-boxes-container' class="item-boxes-container">

    <!--Load in selected items here -->

</div>
<div class="container-side rotate-180"></div>

</div>
<div class="video-floating-frame" id="video-floating-frame" style="display:none;" >
    <div class="iframe-container"><div id="iframe-holder"></div></div>
    <div class="top-container">
    <div class="chapter-container" id="chapter-container"></div>
            
    <div class="views-container">
        <div id="ff-views" class="item-box-views">Title is Ipsum Lorum</div><span class="item-box-views"> • </span>
        <div id="ff-age" class="item-box-views">Title is Ipsum Lorum</div></div>
    </div>

    <div class="caption-container">
            <div id="ff-creator" class="item-box-creator">Creator</div>
            <div id="ff-title" class="item-box-title">Title is Ipsum Lorum</div><br><br><br></div>

</div>

