<div class = projector><div id="projector-body" class="projector-body"><div id="projector-canvas" class="projector-canvas">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7104910338660789"
        crossorigin="anonymous"></script>
    <!-- projector -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:600px;height:450px"
        data-ad-client="ca-pub-7104910338660789"
        data-ad-slot="7973652343"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div></div></div>