{%extends "base2.html"%}
{% block title %}
<title>{{title_text}}</title>
{% endblock %}
{% block content %}

<div class="item-container"> 
    <div class="container-side"></div>
    <div class="item-section-container">
    
        <div class="item-section">
            <div class="item-section-text">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfrlxIZ_UfHvHE_r_MfdOCkQSXcorTHrHYPGCoJuXbh5ALmjg/viewform?embedded=true" width="640" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
        
        
    </div>
    <div class="container-side rotate-180"></div>
</div>
{% endblock %}
{% block footer %}
{%include 'includes/footer_container.html'%}
{% endblock %}  