
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.foundation.min.css" media="all">

{% if session['display_name'] %}
<div class="steam-oauth-displayname">Welcome {{ session['display_name'] }} </div><a href="/ext/steam_logout?ext=ht"><div class="steam-oauth-logout">(logout)</div></a>
{% else %}
<img id="steam_openid_login" height="31" src = "https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_01.png">
<script>
  $('#steam_openid_login').on('click',function () {
    location.href = location.origin + "/ext/steam_auth?origin=" + location.href;
  });

  
</script>
{% endif %}

<button id="update_steamrep">Update SteamRep</button>
<button id="update_all_steam">Update Steam</button>
<button id="update_rich_presence">Update In-Game Status</button>
<div>Submit Hacker:</div>
<form id="ht_submit">
    <div>
    <label>Steam ID64: <input class="yt_form_option" name="st_id64" id="st_id64" placeholder="76561198082222131" onclick="toggle('.other-classes', this)"/></label>
    <button id="check_id">Check ID</button>
    <label>Gamemode: <select name="ht_gamemode" id="ht_gamemode">
        <option value = "valvecomp" selected="selected">Valve Comp</option>
        <option value = "casual">Casual</option>
        <option value = "communitycomp">Community Comp</option>
        <option value = "mvm">MvM</option>
        <option value = "other">Other</option>
    </select></label>
</div>
<div>
    <label>Cheater: <input checked type="checkbox" name="ht_is_cheater" id="ht_is_cheater" value="1"/></label>
    <label>Bot: <input type="checkbox" name="ht_is_bot" id="ht_is_bot" value="1"/></label>
    <label>Racist: <input type="checkbox" name="ht_is_racist" id="ht_is_racist" value="1"/></label>
    <label>Annoying: <input type="checkbox" name="ht_is_annoying" id="ht_is_annoying" value="1"/></label>

    <label>Confidence: <input type="number" name="ht_confidence" id="ht_confidence" min="0" max="1" step="0.1" value="1.0" /></label>
    <button id="ht_form_submit" disabled>Submit</button>
</div>
</form>


{% if provisionals != None %}
<div>Provisional Table</div>
<table id="provisional_table">
    
    <thead><tr>
        <th></th>
        <th></th>
<th>Name</th>
<th>Steam ID64</th>
<th>Cheater</th>
<th>Bot</th>
<th>Racist</th>
<th>Annoying</th>
<th>Conf.</th>
<th>Game Type</th>
<th></th>
<th>Updated</th>
<th>VAC</th>
<th>State</th>
<th>Privacy</th>
<th>Hours Played</th>
<th>Last Played</th>
<th>Game</th>
<th>Description</th>
<th></th>
</tr></thead>
<tbody>
{% for hacker in provisionals %}
<tr>
    <td><button id="confirm_hacker" data-id="{{hacker.st_id64}}">Confirm</button><button disabled id="deny_hacker" data-id="{{hacker.st_id64}}">Deny</button></td>
    <td><a href="https://steamcommunity.com/profiles/{{hacker.st_id64}}"  target="_blank"><img height="20" src={{hacker.st_avatarmedium_url}}><img></a></td>
    <td>{{hacker.st_personaname}}</td>
    <td>{{hacker.st_id64}}</td>
    <td>{{hacker.ht_is_cheater}}</td>
    <td>{{hacker.ht_is_bot}}</td>
    <td>{{hacker.ht_is_racist}}</td>
    <td>{{hacker.ht_is_annoying}}</td>
    <td>{{hacker.ht_confidence}}</td>
    <td>{{hacker.ht_gamemode}}</td>
    <td><a href="https://steamrep.com/profiles/{{hacker.st_id64}}"><img src="{{ url_for('static', filename='img/ht/sr_icon.png') }}"></a></td>
    <td>{{hacker.st_lastupdate_datetime}}</td>
    <td>{{hacker.sr_vacban}}</td>
    <td>{{hacker.st_personastate}}</td>
    <td>{{hacker.st_communityvisibilitystate}}</td>
    <td>{{hacker.st_hours_played_2weeks|int}}</td>
    <td>{{hacker.st_lastlogoff}}</td>
    <td>{{hacker.st_rich_presence_game}}</td>
    <td>{{hacker.st_rich_presence_desc}}</td>
    
</tr>
{% endfor %}
</tbody>
</table>

{% endif%}



<table id="hacker_table">
    
    <thead><tr>
<th></th>
<th></th>
<th>Display Name</th>
<th>Steam ID64</th>
<th>Cheat.</th>
<th>Bot</th>
<th>Racist</th>
<th>Annoy.</th>
<th>Conf.</th>
<th>Game Type</th>
<th></th>
<th>Updated</th>
<!--<th>Created</th>
<th>SR Sync</th>-->
<th>VAC</th>
<th></th>
<th>State</th>
<th>Privacy</th>
<th>Hours Played</th>
<th>Last Played</th>
<th>Game</th>
<th>Description</th>
<th></th>
</tr></thead>
<tbody>
{% for hacker in hackers %}
<tr>
    <td>

    </td>
    <td><a href="https://steamcommunity.com/profiles/{{hacker.st_id64}}"  target="_blank"><img height="20" src={{hacker.st_avatarmedium_url}}><img></a></td>
    <td>{{hacker.st_personaname}}</td>
    <td>{{hacker.st_id64}}</td>
    <td>{{hacker.ht_is_cheater}}</td>
    <td>{{hacker.ht_is_bot}}</td>
    <td>{{hacker.ht_is_racist}}</td>
    <td>{{hacker.ht_is_annoying}}</td>
    <td>{{hacker.ht_confidence}}</td>
    <td>{{hacker.ht_gamemode}}</td>
    <td><a href="https://steamrep.com/profiles/{{hacker.st_id64}}"><img src="{{ url_for('static', filename='img/ht/sr_icon.png') }}"></a></td>
    

    <td>{{hacker.st_lastupdate_datetime}}</td>
    <!--<td>{{hacker.sr_membersince}}</td>
    <td>{{hacker.sr_lastsynctime}}</td>-->

    <td>{{hacker.sr_vacban}}</td>
    <td></td>
    <td>{{hacker.st_personastate}}</td>
    <td>{{hacker.st_communityvisibilitystate}}</td>
    <td>{{hacker.st_hours_played_2weeks|int}}</td>
    <td>{{hacker.st_lastlogoff}}</td>
    <td>{{hacker.st_rich_presence_game}}</td>
    <td>{{hacker.st_rich_presence_desc}}</td>
    <td>
        {% if user_role == "Admin" or user_role == "Mod" %}
        <button class="remove_hacker" data-id="{{hacker.st_id64}}">Remove</button>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>




<script type = "text/javascript", src="{{ url_for('static', filename='js/hacker_tracker.js')}}"></script>