{%extends "base2.html"%}
{% block content %}

<div class="item-container">
    <div class="container-side"></div>
    <div class="item-section-container">

        <div class="item-section">
            <div class='item-section-header-1'>Privacy Policy</div>
        </div>
        <div class="item-section">
            <div class="item-section-paragraph">At <a href="https://mapreview.tf">mapreview.tf</a>, one of our main
                priorities is the privacy of our visitors. This Privacy Policy document contains types of information
                that is collected and recorded by mapreview.tf and how we use it.</div>

            <div class="item-section-paragraph">If you have additional questions or require more information about our
                Privacy Policy, do not hesitate to <a href="/about">contact us</a>.</div>

            <div class="item-section-paragraph">This Privacy Policy applies only to our online activities and is valid
                for visitors to our website with regards to the information that they shared and/or collect in
                mapreview.tf. This policy is not applicable to any information collected offline or via channels other
                than this website.</div>
        </div>
        <div class="item-section">
            <div class="item-section-header-2">Consent</div>

            <div class="item-section-paragraph">By using our website, you hereby consent to our Privacy Policy and agree
                to its terms.</div>
        </div>
        <div class="item-section">
            <div class="item-section-header-2">Information We Collect</div>

            <div class="item-section-paragraph">
                We collect various types of information about your use of this website when you access any page of the
                site.
                As with all other websites, we keep a rolling log-file of user IP Addresses and requests to the server
                hosting the website's content.
                This log information is not perminantly stored, but is used for the security of the website and to
                detect errors or bugs in the site's code.
            </div>
            <div class="item-section-header-2">STEAM Account</div>
            <div class="item-section-paragraph">
                You have the option to 'sign-in' using the Valve Corp. 'Sign in through STEAM' icon in the top right of
                any pages on this website.
                If you choose to sign-in using your STEAM account, a record of your login will be stored in our log file
                (described above).
                Once signed in, you have the ability to register a vote or tag on resources displayed on this website.
            </div>
            <div class="item-section-paragraph">
                Any votes or tags registered will be logged into our secured database and associated with your STEAM
                account ID and IP Address.
                This personally identifying information is only available to you, and cannot be seen or accessed by
                other users.
                If you do register any votes or tags for a resource, your action will be aggregated with all other
                users' and displayed on the site publicly.
            </div>
        </div>

            <div class="item-section">
                <div class="item-section-header-2">Log Files</div>

                <div class="item-section-paragraph">mapreview.tf follows a standard procedure of using log files. These
                    files log visitors when they visit websites. All hosting companies do this and a part of hosting
                    services' analytics. The information collected by log files include internet protocol (IP)
                    addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages,
                    and possibly the number of clicks. These are not linked to any information that is personally
                    identifiable. The purpose of the information is for analyzing trends, administering the site,
                    tracking users' movement on the website, and gathering demographic information.</div>
            </div>
            <div class="item-section">

                <div class="item-section-header-2">Google DoubleClick DART Cookie</div>

                <div class="item-section-paragraph">Google is one of a third-party vendor on our site. It also uses
                    cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to
                    www.website.com and other sites on the internet. However, visitors may choose to decline the use of
                    DART cookies by visiting the Google ad and content network Privacy Policy at the following URL - <a
                        href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                </div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Our Advertising Partners</div>

                <div class="item-section-paragraph">Some of advertisers on our site may use cookies and web beacons. Our
                    advertising partners are listed below. Each of our advertising partners has their own Privacy Policy
                    for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
                </div>

                <ul>
                    <li>
                        <div class="item-section-paragraph">Google</div>
                        <div class="item-section-paragraph"><a
                                href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Advertising Partners Privacy Policies</div>

                <div class="item-section-paragraph">You may consult this list to find the Privacy Policy for each of the
                    advertising partners of mapreview.tf.</div>

                <div class="item-section-paragraph">Third-party ad servers or ad networks uses technologies like
                    cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that
                    appear on mapreview.tf, which are sent directly to users' browser. They automatically receive your
                    IP address when this occurs. These technologies are used to measure the effectiveness of their
                    advertising campaigns and/or to personalize the advertising content that you see on websites that
                    you visit.</div>

                <div class="item-section-paragraph">Note that mapreview.tf has no access to or control over these
                    cookies that are used by third-party advertisers.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Third Party Privacy Policies</div>

                <div class="item-section-paragraph">The mapreview.tf Privacy Policy does not apply to other advertisers
                    or websites. Thus, we are advising you to consult the respective Privacy Policies of these
                    third-party ad servers for more detailed information. It may include their practices and
                    instructions about how to opt-out of certain options. </div>

                <div class="item-section-paragraph">You can choose to disable cookies through your individual browser
                    options. To know more detailed information about cookie management with specific web browsers, it
                    can be found at the browsers' respective websites.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">CCPA Privacy Rights (Do Not Sell My Personal Information)</div>

                <div class="item-section-paragraph">Under the CCPA, among other rights, California consumers have the
                    right to:</div>
                <div class="item-section-paragraph">Request that a business that collects a consumer's personal data
                    disclose the categories and specific pieces of personal data that a business has collected about
                    consumers.</div>
                <div class="item-section-paragraph">Request that a business delete any personal data about the consumer
                    that a business has collected.</div>
                <div class="item-section-paragraph">Request that a business that sells a consumer's personal data, not
                    sell the consumer's personal data.</div>
                <div class="item-section-paragraph">If you make a request, we have one month to respond to you. If you
                    would like to exercise any of these rights, please contact us.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">GDPR Data Protection Rights</div>

                <div class="item-section-paragraph">We would like to make sure you are fully aware of all of your data
                    protection rights. Every user is entitled to the following:</div>
                <div class="item-section-paragraph">The right to access - You have the right to request copies of your
                    personal data. We may charge you a small fee for this service.</div>
                <div class="item-section-paragraph">The right to rectification - You have the right to request that we
                    correct any information you believe is inaccurate. You also have the right to request that we
                    complete the information you believe is incomplete.</div>
                <div class="item-section-paragraph">The right to erasure - You have the right to request that we erase
                    your personal data, under certain conditions.</div>
                <div class="item-section-paragraph">The right to restrict processing - You have the right to request
                    that we restrict the processing of your personal data, under certain conditions.</div>
                <div class="item-section-paragraph">The right to object to processing - You have the right to object to
                    our processing of your personal data, under certain conditions.</div>
                <div class="item-section-paragraph">The right to data portability - You have the right to request that
                    we transfer the data that we have collected to another organization, or directly to you, under
                    certain conditions.</div>
                <div class="item-section-paragraph">If you make a request, we have one month to respond to you. If you
                    would like to exercise any of these rights, please contact us.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Children's Information</div>

                <div class="item-section-paragraph">Another part of our priority is adding protection for children while
                    using the internet. We encourage parents and guardians to observe, participate in, and/or monitor
                    and guide their online activity.</div>

                <div class="item-section-paragraph">mapreview.tf does not knowingly collect any Personal Identifiable
                    Information from children under the age of 13. If you think that your child provided this kind of
                    information on our website, we strongly encourage you to contact us immediately and we will do our
                    best efforts to promptly remove such information from our records.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Changes to This Privacy Policy</div>

                <div class="item-section-paragraph">We may update our Privacy Policy from time to time. Thus, we advise
                    you to review this page periodically for any changes. We will notify you of any changes by posting
                    the new Privacy Policy on this page. These changes are effective immediately, after they are posted
                    on this page.</div>
            </div>
            <div class="item-section">
                <div class="item-section-header-2">Contact Us</div>

                <div class="item-section-paragraph">If you have any questions or suggestions about our Privacy Policy,
                    do not hesitate to <a href="/about">contact us</a>.</div>
            </div>
        </div>
        <div class="container-side rotate-180"></div>
    </div>
    {% endblock %}
    {% block footer %}
    {%include 'includes/footer_container.html'%}
    {% endblock %}